<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Levantine Arabic Dictionary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XHPNPS9B36"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-XHPNPS9B36');
    </script>
    <script data-ad-client="ca-pub-1199080602686133" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <link rel="image_src" href="http://levantinereader.com/assets/icon.png" />
    <link rel="apple-touch-icon" href="http://levantinereader.com/assets/icon.png" />
    <link rel="icon" href="http://levantinereader.com/assets/icon.png" />

    <meta name="og:site_name" content="Levantine Arabic Reader and Dictionary">
    <meta name="og:locale" content="en">
    <meta name="og:image" content="http://levantinereader.com/assets/icon.png">
    <meta name="og:url" content="http://levantinereader.com">
    <meta name="og:title" content="Levantine Arabic Reader">
    <meta name="og:description" content="Word for word reader and dictionary for the Levantine Arabic dialect">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="http://levantinereader.com/assets/icon.png">
    <meta name="twitter:title" content="Levantine Arabic Reader">
    <meta name="twitter:description" content="Word for word reader and dictionary for the Levantine Arabic dialect">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="/">
            <img src="/assets/icon.png" width="30" height="30"
                class="d-inline-block align-top" alt="Flag of Jordan">
            Arabic Reader
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">Dictionary</span></a>
                </li>
            </ul>
            <form title="Levantine Dictionary" action="/search" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="q">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    {{#unless content}}
    <div class="jumbotron">
        <h1 class="display-7">Welcome Levantine Arabic dialect language learner! </h1>
        <div class="lead">Get word for word definitions for any text or article written in the Levantine Arabic dialect,
            spoken in Palestine, Jordan, Lebanon, and Syria. <strong>Happy learning!</strong></div>
    </div>
    {{/unless}}


    <main class="container mt-3 mb-3">
        <div class="row">
            <div class="col">
                <form method="POST">
                    <div class="row">
                        <div class="col">
                            <label for="content">
                                <h5 class="display-5">Type-in any Levantine Arabic text:</h5>
                            </label>
                            <textarea class="form-control" lang="ar" name="content" rows="4"
                                placeholder="أكتب أي مقالة باللغة الشامية (العامية)">{{content}}</textarea>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6 offset-3">
                            <button class="form-control btn btn-warning" value="submit">Help me read</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {{#if content}}
        <div class="row mt-3">
            <div class="col mt-3">
                <h5 class="display-5">Click on the words to get definitions:</h5>
            </div>
        </div>
        {{/if}}

        <div class="row mt-1">
            <div class="col text-right" lang="ar">
                {{#each words}}
                {{#unless this.delim}}
                <a tabindex="{{@index}}" class="word" title="{{this.word}}"
                    data-tippy-content="{{#each stems}}<div class={{#unless this.exact}}isnotexact{{/unless}}><span lang=ar><strong>{{this.term}}</strong></span> <span lang=en>({{this.pos}})</span><p class={{#unless this.exact}}isnotexact{{/unless}}>{{#if this.exact}}<strong lang=en>{{this.def}}</strong>{{else}}{{this.def}}{{/if}}</p></div>{{/each}}">
                    {{#if this.match}}
                    {{#if this.exact}}
                    <strong>{{this.word}}</strong>
                    {{else}}
                    {{this.word}}
                    {{/if}}
                    {{else}}
                    <span class="word isnotfound">{{this.word}}</span>
                    {{/if}}
                </a>
                {{else}}
                {{#if (islinefeed this.word)}}
                <br>
                {{else}}
                {{this.word}}
                {{/if}}
                {{/unless}}
                {{/each}}
            </div>
        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            tippy('[data-tippy-content]', {
                trigger: 'click focus',
                interactive: true,
                placement: 'auto',
                allowHTML: true
            });
        });
    </script>
</body>

</html>