<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{#if content}}
    <meta name="description" content="{{{trunc content 65}}}...">
    <title>Levantine Arabic Reader Content, {{title}}</title>
    {{else}}
    <meta name="description" content="Word for word reader and dictionary for the Levantine Arabic language dialect">
    <title>Levantine Arabic Reader</title>
    {{/if}}
    <link rel="stylesheet" href="/assets/lib/bootstrap-4.4.1.min.css" />
    <link rel="stylesheet" href="/assets/lib/jquery.webui-popover-1.2.0.min.css">
    <link rel="stylesheet" href="/assets/styles.css" />
    <script src="/assets/lib/fontawesome.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XHPNPS9B36"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-XHPNPS9B36');
    </script>
    <script data-ad-client="ca-pub-1199080602686133" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5eb0e52dbe2523ad"></script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "url": "https://levantinereader.com",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://levantinereader.com/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>

    <link rel="image_src" href="/assets/icon.png" />
    <link rel="apple-touch-icon" href="/assets/icon.png" />
    <link rel="icon" href="/assets/icon.png" />

    {{#if content}}
    <link rel="canonical" href="https://levantinereader.com{{url}}" />
    {{else}}
    <link rel="canonical" href="https://levantinereader.com" />
    {{/if}}

    <meta name="og:site_name" content="Levantine Arabic Reader and Dictionary">
    <meta name="og:locale" content="en">
    <meta name="og:image" content="https://levantinereader.com/assets/icon.png">
    {{#if content}}
    <meta name="og:url" content="https://levantinereader.com{{url}}">
    <meta name="og:title" content="Levantine Arabic Reader, {{title}}">
    <meta name="og:description" content="{{{trunc content 65}}}...">
    {{else}}
    <meta name="og:url" content="https://levantinereader.com">
    <meta name="og:title" content="Levantine Arabic Reader">
    <meta name="og:description" content="Word for word reader and dictionary for the Levantine Arabic dialect">
    {{/if}}

    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="/assets/icon.png">
    {{#if content}}
    <meta name="twitter:title" content="Levantine Arabic Reader, {{title}}">
    <meta name="twitter:description" content="{{{trunc content 65}}}...">
    {{else}}
    <meta name="twitter:title" content="Levantine Arabic Reader">
    <meta name="twitter:description" content="Word for word reader and dictionary for the Levantine Arabic dialect">
    {{/if}}
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="/">
            <img src="/assets/icon.png" width="30" height="30" class="d-inline-block align-top" alt="Flag of Jordan">
            Levantine Reader
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dictionary">Dictionary</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown">Collections</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/collection/DeekBlog">Deek Blog (كتابات ديك الجن)</a>
                    </div>
                </li>
            </ul>
            <form title="Levantine Dictionary" action="/search" class="form-inline my-2 my-lg-0 search">
                <input class="form-control mr-sm-2" lang="ar" type="text" placeholder="Search" name="q">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    {{#unless content}}
    <div class="jumbotron">
        <h1 class="display-6">Tired of looking up words in the dictionary?</h1>
        <p class="lead">Get word for word definitions for any text or article written in the Levantine Arabic dialect,
            spoken in Palestine, Jordan, Lebanon, and Syria. <strong>Happy learning!</strong></p>
    </div>
    {{/unless}}


    <main class="container mt-3 mb-3">
        <div class="row">
            <div class="col">
                <form action="/" method="POST">
                    <div class="row">
                        <div class="col">
                            <label for="content">
                                <h5 class="display-5">Type-in any Levantine Arabic text:</h5>
                            </label>
                            <textarea class="source form-control" lang="ar" name="content" rows="3"
                                placeholder="أكتب أي مقالة باللهجة الشامية العامية">{{#unless content}}هاي جملة بسيطة{{else}}{{content}}{{/unless}}</textarea>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6 offset-3">
                            <button class="btn-read form-control btn btn-warning" value="submit">Help me read</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {{#if content}}

        <div class="row mt-3">
            <div class="col mt-3">
                <h5>Click on the words to get definitions:</h5>
            </div>
            <div class="col mt-3 text-right">
                <div class="addthis_inline_share_toolbox"></div>
            </div>
        </div>

        <section class="row mt-1">
            <div class="col text-right def-box" lang="ar">
                {{#each words}}
                {{#unless this.delim}}
                <a tabindex="{{@index}}" class="word"
                    data-content="{{#each stems}}<p><div{{#unless this.exact}} class=isnotexact{{/unless}}><span lang=ar>{{this.term}}</span> <span lang=en>({{this.posDesc}})</span></div><div lang=ar{{#unless this.exact}} class=isnotexact{{/unless}}>{{#if this.prefix}}{{this.prefix}} + {{/if}}{{this.stem}}{{#if this.suffix}} + {{this.suffix}}{{/if}}</div><div lang=en{{#unless this.exact}} class=isnotexact{{/unless}}>{{this.def}}</div></p>{{/each}}">
                    {{#if this.match}}
                    {{#if this.exact}}
                    <strong>{{this.word}}</strong>
                    {{else}}
                    {{this.word}}
                    {{/if}}
                    {{else}}
                    <span class="word isnotfound">{{this.word}}</span>
                    {{/if}}
                </a>
                {{else}}
                {{#if (islinefeed this.word)}}
                <br>
                {{else}}
                {{this.word}}
                {{/if}}
                {{/unless}}
                {{/each}}
            </div>
        </section>
        {{else}}
        <img class="mt-3 demo" height="181" src="/assets/demo.gif" alt="Levantine Arabic Reader Demo" />
        <p class="text-center text-muted"><small>The above animation is only a demo.</small></p>
        {{/if}}

        <section class="jumbotron mt-4 mb-4">
            <h3 class="display-6">Can't find the correct definition?</h3>
            <p class="lead">One of the reasons a correct definition cannot be found is that an appropriate
                word or verb may not exist in the app's dictionary. Help contribute by adding words to the app
                dictionary by clicking the button below.
            </p>
            <a class="btn btn-success" href="/search" role="button">Add a New Word</a>
        </section>

        <section class="row mt-5">

            <div class="col">

                <h3 class="mb-3"><strong>Levantine Resources</strong></h3>

                <div class="list-group">
                    <a target="samples" href="http://www.livingarabic.com/dictionaries?dc=2&st=1"
                        class="list-group-item list-group-item-action">
                        <article class="media p-3 row">
                            <img class="mt-1 col-12 col-md-2" src="/assets/res/lughatuna.png"
                                alt="Lughatuna Dictionary">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-12 col-md-8 title">
                                        <h5 class="mb-1"><strong>Levantine Arabic Dictionary</strong></h5>
                                    </div>
                                    <div class="col-12 col-md-4 source"><small>Source: Lughatuna</small></div>
                                </div>
                                <p>
                                    This site is an effort to show Arabic as a living language by allowing users to
                                    search in both a Classical Arabic dictionary and a dialect dictionary at the same
                                    time.
                                </p>
                            </div>
                        </article>
                    </a>
                    <a target="samples" href="http://bing.com/translate" class="list-group-item list-group-item-action">
                        <article class="media p-3 row">
                            <img class="mt-1 col-12 col-md-2" src="/assets/res/bing_translate.png" alt="Bing Translate">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-12 col-md-8 title">
                                        <h5 class="mb-1"><strong>Bing Translate (Levantine)</strong></h5>
                                    </div>
                                    <div class="col-12 col-md-4 source"><small>Source: Microsoft</small></div>
                                </div>
                                <p>
                                    Microsoft Translator has released Levantine, an Arabic dialect spoken in countries
                                    such as Lebanon, Jordan, and Syria, as its latest AI-powered speech translation
                                    language. It will help businesses, educators, travelers, and non-profits communicate
                                    across the language barrier with Levantine speakers during meetings, presentations,
                                    and Skype calls.
                                </p>
                            </div>
                        </article>
                    </a>
                </div>
            </div>

        </section>

        <section class="row mt-5">

            <div class="col">

                <h3 class="mb-3"><strong>Levantine Content</strong></h3>

                <div class="list-group">
                    <a href="/collection/DeekBlog" class="list-group-item list-group-item-action">
                        <article class="media p-3 row">
                            <img class="mt-1 col-12 col-md-2" src="/assets/res/deek_blog.jpeg" alt="Deek Blog">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-12 col-md-8 title">
                                        <h5 class="mb-1"><strong>Deek Blog (كتابات ديك الجن)</strong></h5>
                                    </div>
                                    <div class="col-12 col-md-4 source"><small>Source: Deek Blog</small></div>
                                </div>
                                <p>
                                    Various writings from a famous anonymous Jordanian blogger and writer, Deek al-Jen,
                                    in the Levantine dialect.
                                </p>
                            </div>
                        </article>
                    </a>
                    <a target="samples" href="https://www.youtube.com/playlist?list=PLsRcJmc7xsAW-872drN6qo9tKm-wtijn2"
                        class="list-group-item list-group-item-action">
                        <article class="media p-3 row">
                            <img class="mt-1 col-12 col-md-2" src="/assets/res/abu_sanads_family.jpg"
                                alt="Abu Sanad's Family">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-12 col-md-8 title">
                                        <h5 class="mb-1"><strong>Abu Sanad's Family</strong></h5>
                                    </div>
                                    <div class="col-12 col-md-4 source"><small>Source: Our Family Blog</small></div>
                                </div>
                                <p>
                                    Abu Sanad’s Family (عيلة أبو سند) is an animated YouTube series by Our Family Life
                                    that’s has both Levantine/Jordanian Arabic captains/subtitles. I know this will help
                                    me tremendously and I hope it helps you too.
                                </p>
                            </div>
                        </article>
                    </a>
                    <a target="samples" href="https://playaling.com" class="list-group-item list-group-item-action">
                        <article class="media p-3 row">
                            <img class="mt-1 col-12 col-md-2" src="/assets/res/playaling.png" alt="Playaling.com">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-12 col-md-8 title">
                                        <h5 class="mb-1"><strong>Playaling</strong></h5>
                                    </div>
                                    <div class="col-12 col-md-4 source"><small>Source: Playaling</small></div>
                                </div>
                                <p>
                                    Online resource for learning Arabic through engaging real-world content and
                                    interactive captioning. With new clips and features being added all the time, we’re
                                    a dedicated team of language professionals making engaging real-world Arabic content
                                    available to teachers and students across the globe.
                                </p>
                            </div>
                        </article>
                    </a>
                    <a target="samples"
                        href="https://lingualism.com/arabic/levantine-arabic/levantine-arabic-diaries/around-dubai/"
                        class="list-group-item list-group-item-action">
                        <article class="media p-3 row">
                            <img class="mt-1 col-12 col-md-2" src="/assets/res/dubai.jpg" alt="Lingualism Blog: Dubai">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-12 col-md-8 title">
                                        <h5 class="mb-1"><strong>Around Dubai</strong></h5>
                                    </div>
                                    <div class="col-12 col-md-4 source"><small>Source: Lingualism</small></div>
                                </div>
                                <p>
                                    Dubai is a beautiful city. A lot of my friends who live in America ask me about life
                                    in
                                    Dubai, and whenever I explain to them about life here, they immediately tell me that
                                    they
                                    feel like Dubai is full of adventures and fun...</p>
                                <p class="mb-1 text-right" lang="ar">
                                    دبي مدينة كتير حلوة. كتير من رفقاتي اللي العيشين بأمريكا بسألوني عن العشية بدبي. و
                                    كل ما
                                    إشرحلون عن الحياة هون، دغري بقلولي إنو بجسو إنو عشية دبي ملينة مغمرات و تسلية...
                                </p>
                            </div>
                        </article>
                    </a>
                    <a target="samples"
                        href="https://lingualism.com/arabic/levantine-arabic/levantine-arabic-diaries/a-vulnerable-patient/"
                        class="list-group-item list-group-item-action">
                        <article class="media p-3 row">
                            <img class="mt-1 col-12 col-md-2" src="/assets/res/a_vunerable_patient.jpg"
                                alt="Lingualism Blog: Patient">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-12 col-md-8 title">
                                        <h5 class="mb-1"><strong>A Vulnerable Patient</strong></h5>
                                    </div>
                                    <div class="col-12 col-md-4 source"><small>Source: Lingualism</small></div>
                                </div>
                                <p>
                                    You won’t believe what happened when dad was at the hospital. We were in a room with
                                    an old vulnerable lady with nobody to protect her. She was in a lot of pain which is
                                    normal; she
                                    wasn’t there for fun...</p>
                                <p class="mb-1 text-right" lang="ar">
                                    ما راح تصدقوا شو صار معي بس كان بيي بالمستشفى. كنّا بغرفة مع ستّ ختيارة ما في حدا
                                    يدافع عنا. هي كتير موجوعة وهيدا شي طبيعي مش عم تتسلى...
                                </p>
                            </div>
                        </article>
                    </a>
                    <a target="samples"
                        href="https://lingualism.com/arabic/levantine-arabic/levantine-arabic-diaries/my-birthday-in-berlin/"
                        class="list-group-item list-group-item-action">
                        <article class="media p-3 row">
                            <img class="mt-1 col-12 col-md-2" src="/assets/res/birthday_in_berlin.jpg"
                                alt="Lingualism Blog: My Birthday in Berlin">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-12 col-md-8 title">
                                        <h5 class="mb-1"><strong>My Birthday in Berlin</strong></h5>
                                    </div>
                                    <div class="col-12 col-md-4 source"><small>Source: Lingualism</small></div>
                                </div>
                                <p>
                                    Last week was my birthday. Therefore, my girlfriend and I decided to go to Berlin.
                                    On one hand, it would be a tour(istic trip) [lit. tourism] as the summer is about to
                                    finish. On the other hand, we could celebrate my birthday there, although I’m not
                                    really into things like birthdays...
                                </p>
                                <p class="mb-1 text-right" lang="ar">
                                    الأسبوع الماضي كان عيد ميلادي. و منشان هيك قررت انا و رفيقتي نروح ع برلين. منو سياحة
                                    كونوالصيف رح يخلص. ومنو منحتفل بعيد ميلادي هنيك. بالرغم اني انا مو كتير بحب شغلات
                                    أعيادالميلاد...
                                </p>
                            </div>
                        </article>
                    </a>
                    <a target="samples" href="https://langmedia.fivecolleges.edu/culturetalk/Arab-Levant"
                        class="list-group-item list-group-item-action">
                        <article class="media p-3 row">
                            <img class="mt-1 col-12 col-md-2" src="/assets/res/langmedia.png" alt="LangMedia">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-12 col-md-8 title">
                                        <h5 class="mb-1"><strong>CultureTalk Arab Levant: Video Pages by Topic</strong>
                                        </h5>
                                    </div>
                                    <div class="col-12 col-md-4 source"><small>Source: LangMedia CultureTalk</small>
                                    </div>
                                </div>
                                <p>
                                    CultureTalk features video clips of interviews and discussions with people from many
                                    different countries and of many different ages and walks of life. Some interviews
                                    and
                                    discussions are in English; more are in languages other than English. Translations
                                    and/or
                                    transcripts are given for all non-English video clips.
                                </p>
                            </div>
                        </article>
                    </a>
                    <a target="samples"
                        href="https://medium.com/bel-lebneene/%D8%A7%D9%84%D9%83%D8%AA%D9%8A%D8%A8%D8%A9-%D8%A8%D8%A7%D9%84%D9%84%D8%A8%D9%86%D8%A7%D9%86%D9%8A-be0d5138de07"
                        class="list-group-item list-group-item-action">
                        <article class="media p-3 row">
                            <img class="mt-1 col-12 col-md-2" src="/assets/res/significance_of_colloquial_arabic.jpeg"
                                alt="Significance of Colloquail Arabic">
                            <div class="media-body">
                                <div class="row">
                                    <div class="col-12 col-md-8 title">
                                        <h5 class="mb-1"><strong>Significance of Writings in the Colloquial Arabic
                                                Language</strong></h5>
                                    </div>
                                    <div class="col-12 col-md-4 source"><small>Source: Medium Blog, Hsen Andil</small>
                                    </div>
                                </div>
                                <p class="mb-1 text-right" lang="ar">
                                    من فترة طلع عالتلفزيون حدا عم يحكي عن اللغة العامّيّة، أو متل ما نْوَصفت “اللغة
                                    اللبنانية”، وعن التأثيرات السريانية و غيرا عالحكي اللبناني. في ناس حبّت اللي نْحَكى
                                    و في ناس لسبب أو لتاني تفاعلت بسلبية...
                                </p>
                            </div>
                        </article>
                    </a>
                </div>
            </div>

        </section>

    </main>

    <footer class="footer mt-auto py-3">
        <div class="container text-center">
            <span class="text-muted">Questions? Contact me at jarfile@gmail.com</span>
        </div>
    </footer>

    <script src="/assets/lib/jquery-3.5.1.min.js"></script>
    <script src="/assets/lib/bootstrap-4.4.1.min.js"></script>
    <script src="/assets/lib/jquery.webui-popover-1.2.0.min.js"></script>
    <script>
        $(function () {
            $('[data-content]').webuiPopover({
                style: 'inverse',
                placement: 'bottom',
                animation: 'pop'
            });

            {{#if content}}
            $('.source').attr('rows', '1');
            $('.source').focusout(function () {
                $(this).attr('rows', '1');
            });
            $('.source').focus(function () {
                $(this).attr('rows', '3');
            });
            {{/if}}
        });
    </script>
</body>

</html>