<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Arabic Reader</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <style>
        @import url(//fonts.googleapis.com/earlyaccess/notonaskharabic.css);

        body {
            background-color: #fafafa;
        }

        textarea {
            width: 100%;
        }

        .isnotfound {
            color: red;
        }

        [lang="ar"] {
            direction: rtl;
            font-size: 24px;
            font-family: 'Noto Naskh Arabic', Calibri, serif;
        }

        .word:hover {
            background-color: lemonchiffon;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Arabic Reader</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    {{#unless content}}
    <div class="jumbotron">
        <h1 class="display-7">Welcome Arabic dialect language learner! </h1>
        <p class="lead">Give this tool any text or article written in the Levantine Arabic dialect,
            and it will attempt to give you a definition for each word to help make it easy to read
            and learn spoken Arabic. <strong>Happy learning while reading!</strong></p>
    </div>
    {{/unless}}


    <main class="container mt-3 mb-3">
        <div class="row">
            <div class="col">
                <form method="POST">
                    <div class="row">
                        <div class="col">
                            <label for="content">
                                <h5 class="display-5">Type-in any Levantine Arabic text:</h5>
                            </label>
                            <textarea class="form-control" lang="ar" name="content" rows="4"
                                placeholder="أكتب أي مقالة باللغة الشامية (العامية)">{{content}}</textarea>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6 offset-3">
                            <button class="form-control btn btn-primary" value="submit">Help me read</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {{#if content}}
        <div class="row mt-3">
            <div class="col mt-3">
                <h5 class="display-5">Hover over the words to get guessed definitions for the stemmed word:</h5>
            </div>
        </div>
        {{/if}}

        <div class="row mt-1">
            <div class="col text-right" lang="ar">
                {{#each words}}
                {{#unless this.delim}}
                <span class="word" data-title="{{this.word}}" data-toggle="popover"
                    data-content="{{#each stems}}<strong>{{this.stem}} ({{this.pos}})</strong><p>{{#if this.exactMatch}}<strong>{{this.meta.def}}</strong>{{else}}{{this.meta.def}}{{/if}}</p>{{/each}}">
                    {{#if this.match}}
                    {{#if this.exactMatch}}
                        <strong>{{this.word}}</strong>
                    {{else}}
                        {{this.word}}
                    {{/if}}
                    {{else}}
                    <span class="word isnotfound">{{this.word}}</span>
                    {{/if}}
                </span>
                {{else}}
                {{#if (islinefeed this.word)}}
                <br>
                {{else}}
                {{this.word}}
                {{/if}}
                {{/unless}}
                {{/each}}
            </div>
        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
                html: true
            });
            $('[data-toggle="popover"]').popover({
                html: true,
                trigger: 'hover'
            });
        });
    </script>

</body>

</html>