<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Arabic Reader Levantine Dictionary Search</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Arabic Reader</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/search">Search <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="q">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <main class="container mt-3 mb-3">

        <h1>Levantine Dictionary Search</h1>

        <div class="row">
            <div class="col">

                <form>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search..." name="q" value="{{q}}">
                    <div class="input-group-append">
                        <button class="btn btn-warning" type="submit">Search</button>
                    </div>
                </div>
                </form>

                <p>Found {{results.length}} results:</p>
                <div id="table" class="table-editable">
                    <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
                                class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
                    <table class="table table-bordered table-responsive-md table-striped">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th class="text-center">Primary</th>
                                <th class="text-center">Related</th>
                                <th>Definition</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each results}}
                            <tr>
                                <td class="pt-3-half" contenteditable="true">{{this.pos}}</td>
                                <td class="pt-3-half text-center" contenteditable="true" lang="ar"><strong>{{this.main}}</strong></td>
                                <td class="pt-3-half text-center" contenteditable="true" lang="ar">{{this.term}}</td>
                                <td class="pt-3-half" contenteditable="true">{{this.def}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/assets/editable-table.js"></script>

</body>

</html>