<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Dictionary for the Levantine Arabic language dialect">
    <title>Levantine Arabic Dictionary</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XHPNPS9B36"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-XHPNPS9B36');
    </script>
    <script src="https://use.fontawesome.com/0732e6dddb.js"></script>
    <script data-ad-client="ca-pub-1199080602686133" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "url": "http://levantinereader.com",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "http://levantinereader.com/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>

    <link rel="image_src" href="http://levantinereader.com/assets/icon.png" />
    <link rel="apple-touch-icon" href="http://levantinereader.com/assets/icon.png" />
    <link rel="icon" href="http://levantinereader.com/assets/icon.png" />

    <meta name="og:site_name" content="Levantine Arabic Reader and Dictionary">
    <meta name="og:locale" content="en">
    <meta name="og:image" content="http://levantinereader.com/assets/icon.png">
    <meta name="og:url" content="http://levantinereader.com">
    <meta name="og:title" content="Levantine Arabic Dictionary">
    <meta name="og:description" content="Dictionary for the Levantine Arabic language dialect">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="http://levantinereader.com/assets/icon.png">
    <meta name="twitter:title" content="Levantine Arabic Dictionary">
    <meta name="twitter:description" content="Dictionary for the Levantine Arabic language dialect">
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" href="/">
            <img src="/assets/icon.png" width="30" height="30" class="d-inline-block align-top" alt="Flag of Jordan">
            Levantine Reader
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/search">Dictionary</span></a>
                </li>
            </ul>
            <form action="/search" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="q">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <main class="container mt-3 mb-3">

        <h1 class="h1-r">Levantine Arabic Dictionary Search</h1>

        <section class="row">
            <div class="col">

                {{#if errors}}
                <div class="alert alert-warning" role="alert">
                    {{#each errors}}
                    <p>{{this}}</p>
                    {{/each}}
                </div>
                {{/if}}
                {{#if success}}
                <div class="alert alert-success" role="alert">
                    <p>{{success}}</p>
                </div>
                {{/if}}

                <form action="/search">
                    <section class="input-group mb-3">
                        <input autofocus lang="ar" type="text" class="form-control" placeholder="ابحث بالعربي أو English" name="q"
                            value="{{q}}">
                        <div class="input-group-append">
                            <button class="btn btn-warning" type="submit">Search</button>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addWord">Add
                                New</button>
                        </div>
                    </section>
                </form>

                {{#if results}}
                <p class="mt-2">Found {{results.length}} results:</p>

                <section id="table" class="mt-3 table-editable">
                    <table class="table table-bordered table-hover table-responsive-md">
                        <thead class="thead-dark">
                            <tr class="table-primary">
                                <th class="text-center">Type</th>
                                <th colspan="2" class="text-center">Word</th>
                                <th class="text-center">Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each results}}
                            <tr data-id="{{this.id}}">
                                <td rowspan="2" title="{{this.id}}" class="pt-3-half separator text-center align-middle">
                                    {{this.pos}}
                                </td>
                                <td title="{{this.id}}"
                                    class="terms1 pt-3-half text-center {{#if this.deleted}}deleted{{/if}}"
                                    {{#if (eq this.pos 'verb')}}contenteditable="true"{{/if}} lang="ar">
                                    <strong>{{this.terms1}}</strong></td>
                                <td title="{{this.id}}"
                                    class="terms0 pt-3-half text-center {{#if this.deleted}}deleted{{/if}}"
                                    contenteditable="true" lang="ar">
                                    <strong>{{this.terms0}}</strong></td>
                                <td rowspan="2" class="pt-3-half separator text-center align-middle update">
                                {{#unless this.deleted}}
                                    <a class="fa fa-save btn-update btn-save"></a>
                                    &nbsp;
                                    <a class="fa fa-trash btn-update enabled btn-delete"></a>
                                {{/unless}}
                                </td>
                            </tr>
                            <tr data-id="{{this.id}}">
                                <td colspan="2" class="def separator pt-3-half {{#if this.deleted}}deleted{{/if}}" contenteditable="true">
                                    {{this.def}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </section>
                {{/if}}

                <section class="jumbotron mt-4 mb-4">
                    <h3 class="display-6">Can't find a word?</h3>
                    <p class="lead">One of the reasons a correct definition cannot be found is that an appropriate
                        word or verb may not exist in the app's dictionary. Help contribute by adding words to the app
                        dictionary by clicking the button below.
                    </p>
                    <a class="btn btn-success" href="/search" role="button">Add a New Word</a>
                </section>

                <section class="jumbotron mt-4 mb-4">
                    <h3 class="display-6">Tired of looking up words in a dictionary?</h3>
                    <p class="lead">Get word for word definitions for any text or article written in the Levantine
                        Arabic dialect, spoken in Palestine, Jordan, Lebanon, and Syria.
                    </p>
                    <a class="btn btn-warning" href="/" role="button">Help Me Read!</a>
                </section>

            </div>
        </section>

        <section class="modal fade" id="addWord" tabindex="-1" role="dialog" aria-labelledby="addWordLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addWordLabel">Add a New Word</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/add">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="pos">Part of Speech</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pos" id="pos-word" value="word" checked>
                                    <label class="form-check-label" for="pos-word">General (non-verb)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="pos" id="pos-verb" value="verb">
                                    <label class="form-check-label" for="pos-verb">Verb</label>
                                </div>
                            </div>
                            <div id="wordGroup" class="form-group">
                                <label for="word">Word</label>
                                <input type="text" lang="ar" class="form-control" name="word"
                                    placeholder="صْغير،صْغيرة،صْغار">
                            </div>
                            <div id="tensesGroup" class="row d-none">
                                <div class="col col-md-6">
                                    <div class="form-group">
                                        <label for="pres">Present Tense</label>
                                        <input type="text" lang="ar" class="form-control" name="pres"
                                            placeholder="يفْعَل">
                                    </div>
                                </div>
                                <div class="col col-md-6">
                                    <div class="form-group">
                                        <label for="past">Past Tense</label>
                                        <input type="text" lang="ar" class="form-control" name="past"
                                            placeholder="فَعَل">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="def">Definition</label>
                                <input type="text" class="form-control" name="def"
                                    placeholder="Primary definition of the word">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add word</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </main>

    <footer class="footer mt-auto py-3">
        <div class="container text-center">
            <span class="text-muted">Questions? Contact me at jarfile@gmail.com</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/assets/editable-table.js"></script>
    <script>
        $('#pos-word').click(function () {
            $('#tensesGroup').addClass('d-none');
            $('#wordGroup').removeClass('d-none');
        });
        $('#pos-verb').click(function () {
            $('#tensesGroup').removeClass('d-none');
            $('#wordGroup').addClass('d-none');
        });
        $('[contenteditable=true]').on('input', function () {
            var id = $(this).parent().data('id');
            $('[data-id=' + id + '] .btn-save').addClass('enabled');
        });
        $('.btn-save').click(function () {
            if ($(this).hasClass('enabled')) {
                var id = $(this).parent().parent().data('id');
                var terms0 = $('[data-id=' + id + '] .terms0').text();
                var terms1 = $('[data-id=' + id + '] .terms1').text();
                var def = $('[data-id=' + id + '] .def').text();
                jQuery.get('/update', {
                    id: id,
                    terms0: terms0,
                    terms1: terms1,
                    def: def
                }, function (data) {
                    $('[data-id=' + id + '] .btn-save').removeClass('enabled');
                });
            }
        });
        $('.btn-delete').click(function () {
            var id = $(this).parent().parent().data('id');
            var terms0 = $('[data-id=' + id + '] .terms0').text();
            var terms1 = $('[data-id=' + id + '] .terms1').text();
            var def = $('[data-id=' + id + '] .def').text();
            if (confirm('Are you sure you want to delete the word: ' + terms0)) {
                jQuery.get('/delete', {
                    id: id,
                    terms0: terms0,
                    terms1: terms1
                }, function (data) {
                    location.reload();
                });
            }
        });
    </script>

</body>

</html>